<div align="center">
  <h1><%= current_user.name%>の投稿</h1>
      <div class="container-fluid">
      <ul>
        <% if !@musics.empty? %>
            <% @musics.each do |music| %>
                <div class="card">
                <li><img src="<%= music.img %>"  class="card-img-top"></li>
                  <div class="card-body">
                  <li><%= music.artist %></li>
                  <li><%= music.title %></li>
                  <li><%= music.album %></li>
                  <li><a href="<%= music.sample %>">サンプル</a></li>
                  <li>コメント：<%= music.comment %></li>
                  <li>いいねしたユーザー</li>
                  <% @users.each do |user|%>
                    <li><%= user.name %></li>
                  <% end %>
                  <a href="/delete/<%= music.id %>">削除</a><br>
                  <a href="/edit/<%= music.id %>">編集</a><br>
                  </div>
                </div>
            <% end %>
        <% else %>
          投稿がありません
        <% end %>
      </ul>
      </div>
    <h2><%= current_user.name %>のイイねした投稿</h2>
     <div class="container-fluid">
      <ul>
            <% @favorites.each do |music| %>
                <div class="card">
                <li><img src="<%= music.img %>"  class="card-img-top"></li>
                  <div class="card-body">
                  <li><%= music.artist %></li>
                  <li><%= music.title %></li>
                  <li><%= music.album %></li>
                  <li><a href="<%= music.sample %>">サンプル</a></li>
                  <li>コメント：<%= music.comment %></li>
                  <li>いいねしたユーザー</li>
                  <% @users.each do |user|%>
                  <li><%= user.name %></li>
                  <% end %>
                  </div>
                </div>
            <% end %>
      </ul>
    </div>
</div>