<div align="center">
  <header>
    <h1>検索フォーム</h1>
    <form action="/search" method="get">
      <input name="keyword" type="text" placeholder="アーティスト名">
      <input type="submit" name="kensaku" value="検索">
    </form>
    <h2>検索結果</h2>
    <div class="container-fluid">
    <ul>
      <% if !@musics.empty? %>
        <div class="hako">
          <% @musics.each do |music| %>
              <div class="card">
                <img src="<%= music["artworkUrl100"] %>" class="card-img-top">
                <div class="card-body">
                  <li><%= music["artistName"] %></li>
                  <li><%= music["collectionName"] %></li>
                  <li><%= music["trackName"] %></li>
                  <a href="<%= music["previewUrl"] %>">サンプル</a><br>
                  <form id="submit_button" action="/new" method="post">
                    <input type="hidden" value="<%= music["artworkUrl100"] %>" name="img">
                    <input type="hidden" value="<%= music["artistName"] %>" name="artist">
                    <input type="hidden" value="<%= music["collectionName"] %>" name="title">
                    <input type="hidden" value="<%= music["trackName"] %>" name="album">
                    <input type="hidden" value="<%= music["previewUrl"] %>" name="sample">
                    <input name="comment" type="text" placeholder="コメント">
                    <input type="submit" name="toukou" value="投稿">
                  </form>
                </div>
              </div>
          <% end %>
        </div>
      <% else %>
        検索結果がありません
      <% end %>
      </ul>
    </div>
  </header>
</div>